.bg-black-60 {
    background-color: transparent;
}
/*全局字体的所选种类*/
body {
    font-family:
        "Inter",
        "SF Pro Display",
        "PingFang SC",
        sans-serif;
}
/* 首页大标题字体 */
header.cover h1 {
    font-weight: 300;
    letter-spacing: 0.02em;
    color:rgba(255,255,255,1)
}

/* 首页副标题字体 */
header.cover h2 {
    font-weight: 500;
    letter-spacing: 0.08em;
    word-spacing: -0.03em;
    color:rgba(255,255,255,1)
}

/* 顶部右侧菜单字体 */
nav ul a {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -0.03em;
    color:rgba(255,255,255,1)
}

/* 顶部菜单最左边字体
苯人并不想让它显示所以做了手脚 */
nav > div > a {
    font-weight: 400 !important;
    font-size: 1px !important;
}

 

/*全局footer背景颜色
复刻首页大图，肝死我了我草 */
footer[role="contentinfo"] {
    background:
      linear-gradient(
        90deg,
  #000000 0%,      
  #000000 59%,
  #355A3A 64%, 
  #A58A4A 65%,     
  #9A6B1F 68%, 
  #6B4F2A 70%,
  #4B5140 81%,
  #5A5068 84%, 
  #1456C8 87%, 
  #18231E 96%,   
  #18231E 100%  
  ) !important;
}

/* ===== 自定义footer布局 ===== */
 
/*footer整体大小*/
footer[role="contentinfo"] {
    padding:40px 50px !important;
}

/* ===== footer布局容器 ===== */

.footer-container {

    max-width:1200px;

    margin:auto;

    display:flex;

    justify-content:flex-start;

    align-items:center;

    padding-bottom:10px;

}

/*footer链接*/
.footer-links {

    display:flex;
    gap:40px;
    transform:translate(10px, 10px);

}


.footer-links a {

    color:rgba(255,255,255,0.9) !important;

    text-decoration:none;

    font-size:29px;

    font-weight:300;

    letter-spacing:0.01em;

    transition:0.3s;

    white-space: nowrap;

}

/*鼠标放上去的效果*/
.footer-links a:hover {

    color:white !important;

}


/* social社交图标区域 */

.footer-right {

    display:flex;

    align-items:center;

}




.footer-bottom {

    width:100%;

    margin-top:50px;

    text-align:right;

    position:relative;

    right:-25px;
    bottom:-37px;

}
/* copyright */
.footer-copy {

    color:rgba(255,255,255,0.3) !important;

    text-decoration:none;

    font-size:15px;

    font-weight: 600;

    letter-spacing:0.01em;
    
}

/* =====================
   手机端 footer 适配
   ===================== */

   @media screen and (max-width: 768px) {

    footer[role="contentinfo"] {

        padding-top: 40px !important;
        padding-left:20px !important;
        padding-bottom:40px !important;

    }


    .footer-container {

        flex-direction: column;

        align-items: flex-start;

        gap: 20px;

    }


    .footer-links {

        display:grid;

        grid-template-columns:repeat(2,auto);

        width:auto;

        gap: 30px 38px;

        transform: translateY(20px);

    }


    .footer-links a {

        font-size: 20px;

    }


    .footer-right {

        width:100%;

    }


    .footer-bottom {
        width:100%;

        margin-top:15px;

        text-align:left;

        right:0;

    }


    .footer-copy {

        font-size:15px;

    }

}
.github-icon {

    width:20px;
    height:20px;

    margin-left:8px;

    vertical-align:1px;
}